!!! 5

%html
  %head
    %title Memory Profiling in Chrome
    %link{:href => "css/mpic.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
    %script{:src => "js/mpic.js"}
    - @buttons.each do |btn|
      %script{:src => "#{btn.file_name}"}
    %script
      $(function() {
      - @buttons.each do |btn|
        initializeButton("#{btn.func_name}", "#{btn.camel_name}");
      });

  %body
    %h1 Memory Profiling in Chrome
    #intro
      =render '_intro.markdown'

    #directions
      =render '_directions.markdown'

    #config.section
      .header Configuration
      %input#attach_leak{:type => 'checkbox'}
      %label{:for => 'attach_leak'} Attach Leak objects to buttons to make leaks easier to detect.

    #main
      - @buttons.each do |btn|
        %div.section{:id => btn.camel_name}
          %a.toggle{:href => 'javascript:void(0)'} Toggle source code visibility
          = find_and_preserve btn.html
          %div.input
          %div.output

    #footer
      &copy; 2012 Mark Rushakoff
      %br/
      (MIT Licensed)
