!!! 5

%html
  %head
    %link{:href => "/css/mpic.css",
      :rel => "stylesheet",
      :type => "text/css"}
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
    %script{:src => '/js/mpic.js'}
    - @buttons.each do |btn|
      %script{:src => "/#{btn.file_name}"}
    %script
      $(function() {
      - @buttons.each do |btn|
        (function(){
        initializeButton("#{btn.func_name}", "#{btn.camel_name}");
        })();
      });

  %body
    %h1 Memory Profiling in Chrome
    #intro
      %p

    #main
      - @buttons.each do |btn|
        %div.section{:id => btn.camel_name}
          = find_and_preserve btn.html
          %div.input
          %div.output
